<div class='px-2'>
  {{!-- <h2 class='text-xl'>{{first_name}} {{last_name}}</h2>
    <address class="pl-2 border-l">
      email: {{email}}</br>
      gender: {{gender}}</br>
      ip: {{ip_address}}</br>
    </address> --}}

</div>